html {
}
body {
  background-color: var(--dark-blue);
  font-family: 'Outfit', sans-serif;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
  //background-image: url('/assets/images/anubis.jpg');
}
