@use '../mixins/responsive.scss' as *;

.form {
  padding: 1.5rem 0;

  @include responsive(desktop) {
    padding: 4rem 0 1.5rem;
  }
}

.search {
  display: flex;
  gap: 1.5rem;

  &__input {
    width: 60%;
    background-color: transparent;
    border: transparent;
    color: white;
    caret-color: var(--red);
  }

  &__input:focus {
    border-bottom: 1px solid var(--greyish-blue);
  }
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
