.slider {
  display: flex;
  gap: 2.5rem;
  overflow-x: scroll;
}

.slider-card {
  flex-shrink: 0;
  border-radius: 0.5rem;
  display: grid;
  position: relative;
  align-items: end;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 50%);
    z-index: 10;
  }

  &__info {
    padding: 1.5rem;
    z-index: 100;

    span {
      position: relative;
      margin-left: 2.5em;
    }

    &--movie::before,
    &--tv::before {
      content: '•';
      position: relative;
      left: -2em;
    }

    &--movie::after,
    &--tv::after {
      content: '';
      width: 1em;
      height: 1em;
      position: absolute;
      bottom: 0.1em;
      left: -1.1em;
      background-image: url(/assets/images/icon-category-movie.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &--tv::after {
      background-image: url(/assets/images/icon-category-tv.svg);
    }
  }
}

.slider-card > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.bookmark-icon {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--dark-blue);
  opacity: 0.5;
  z-index: 1000;
  cursor: pointer;

  &:hover {
    filter: invert(100%);
  }
}

.bookmark-icon > img {
  pointer-events: none;
}
