@use '../mixins/responsive.scss' as *;

.body--m {
  margin-bottom: 3px;
  font-size: 0.75rem;
  font-weight: 300;
  opacity: 0.75;
  @include responsive(tablet) {
    font-size: 0.9375rem;
  }
}

.body--s {
  font-size: 0.6875rem;
  font-weight: 300;
  opacity: 0.75;
  @include responsive(tablet) {
    font-size: 0.8125rem;
  }
}
