.heading--l {
  font-size: 2rem;
  font-weight: 300;
}
.heading--m {
  font-size: 1.5rem;
  font-weight: 300;
}
.heading--s {
  font-size: 1.5rem;
  font-weight: 500;
}
.heading--xs {
  font-size: 1.125rem;
  font-weight: 500;
}
