.trending {
  &__slider {
    display: flex;
    gap: 2.5rem;
    overflow-x: scroll;
  }
  &__card {
    flex-shrink: 0;
    border-radius: 0.5rem;
    display: grid;
    position: relative;
    align-items: end;
    overflow: hidden;
  }
  &__card-info {
    padding: 1.5rem;
  }
}

.trending__card > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.trending__card > .bookmark-icon {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--dark-blue);
  opacity: 0.5;
}
